<% content_for :title do %>
  <% "アカウント新規登録" %>
<% end %>

<section class="conntent-section d-flex align-items-center bg-black" >
    <div class="container px-4 mt-5 px-lg-5 text-center">

      <h2 class="mb-1 text-left"><%= t('.sign_up') %></h2>

      <div class='text-left text-light py-3'>アカウント登録済の方は<%= link_to 'ログイン', new_user_session_path, class: 'text-decoration-none' %>から</div>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="form-group mb-1 text-left">
          <%= f.label :name %><br />
          <%= f.text_field :name, class: "form-control bg-secondary text-white", placeholder: "ニックネーム" %>
        </div>

        <div class="form-group mb-1 text-left">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control bg-secondary text-white", placeholder: "メールアドレス" %>
        </div>

        <div class="form-group mb-1 text-left">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password", class: "form-control bg-secondary text-white", placeholder: "パスワード" %>
        </div>

        <div class="form-group mb-1 text-left">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control bg-secondary text-white", placeholder: "パスワード(確認用)" %>
        </div>

        <div class="form-group mb-1 text-left">
          <%= f.label :image %><br />
          <%= f.file_field :image, class: "form-control-file bg-secondary text-white" %>
        </div>
        
        <div class="actions mt-4">
          <%= f.submit t('.sign_up'), class: "btn btn-primary" %>
        </div>
      <% end %>

      <div class='content mt-5 pt-3 text-light border-top'>
          <h2 class='text-left'>簡単登録</h2>
          <div class='mt-4'>
              <%= link_to user_google_omniauth_authorize_path, class: 'col-10 col-lg-8 btn btn-dark btn-lg border border-primary', method: :post do %>
                  <i class="fa-brands fa-google fa-2xl" style="color: #1D809F;"></i> Googleで登録
              <% end %>
          </div>
          <div class='mt-4 mb-4'>
              <%= link_to user_line_omniauth_authorize_path, class: 'col-10 col-lg-8 btn btn-dark btn-lg border border-primary', method: :post do %>
                  <i class="fa-brands fa-line fa-2xl" style="color: #1D809F;"></i> LINEで登録
              <% end %>
          </div>
      </div>
    </div>
</section>