<% content_for :title do %>
  <%"天体観測スポット・今日の月齢" %>
<% end %>

<div class="wrapper">
    <div id="content">
        <div class="control-bar d-flex align-items-center"  >
            <div class="container fadein">
                <i id="weather-of-date-ajax">
                  <%= render 'maps/date_button', calendar_moon_age: @calendar_moon_age, select_date: @select_date %>
                </i>
            </div>
        </div>

        <div id='map'></div>

        <div class="second-control-bar d-flex align-items-center" >
            <div class="container px-4 px-lg-2">
                <div class="row d-flex justify-content-center">
                    <button id="weather_forecasts_btn" class='col-2 col-md-2 col-lg-2 btn'>
                        <div class='d-none d-lg-block'>
                            <i class="fa-solid fa-cloud-sun fa-2xl" style="color: #1D809F;"></i>
                        </div>
                        <div class='d-lg-none'>
                            <i class="fa-solid fa-cloud-sun fa-xl" style="color: #1D809F;"></i>
                        </div>
                    </button>

                    <button id="light_pollutions_btn" class='col-2 col-md-2 col-lg-2 btn'>
                        <div class='d-none d-lg-block'>
                            <i class="fa-solid fa-fire fa-2xl" style="color: #1D809F;"></i>
                        </div>
                        <div class='d-lg-none'>
                            <i class="fa-solid fa-fire fa-xl" style="color: #1D809F;"></i>
                        </div>
                    </button>

                    <%= link_to posts_path, class: 'col-2 col-md-2 col-lg-2 btn' do%>
                        <div class='d-none d-lg-block'>
                            <i class="fa-solid fa-list fa-2xl" style="color: #1D809F;"></i>
                        </div>
                        <div class='d-lg-none'>
                            <i class="fa-solid fa-list fa-xl" style="color: #1D809F;"></i>
                        </div>
                    <% end %>
                    
                    <button id="markers_btn" class='col-2 col-md-2 col-lg-2 btn'>
                        <div class='d-none d-lg-block'>
                            <i class="fa-solid fa-location-dot fa-2xl" style="color: #1D809F;"></i>
                        </div>
                        <div class='d-lg-none'>
                            <i class="fa-solid fa-location-dot fa-xl" style="color: #1D809F;"></i>
                        </div>
                    </button>
                    
                    <button id="star_light_btn" class='col-2 col-md-2 col-lg-2 btn'>
                        <div class='d-none d-lg-block'>
                            <i class="fa-solid fa-star fa-2xl" style="color: #1D809F;"></i>
                        </div>
                        <div class='d-lg-none'>
                            <i class="fa-solid fa-star fa-xl" style="color: #1D809F;"></i>
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
#map {
  position: absolute;
  height: 100%;
  width: 105%;
  left: -5px;
}
#map *:focus {
    outline: none;
}
</style>

<script>
  let map;
  let markers = [];
  let markers_sl = []
  let markers_wf = []
  let infoWindow = []; 
  let posts = gon.posts; 
  let star_lights = gon.star_lights;
  let weather_forecasts = gon.weather_forecasts;
  let kmlLayer;

  function initMap() {
    geocoder = new google.maps.Geocoder()

    map = new google.maps.Map(document.getElementById('map'), {
      center: { lat: 35.6585, lng: 139.7486 }, 
      zoom: 5,
      gestureHandling: 'greedy',
      mapId: "<%=ENV['MAP_ID']%>",
      scrollwheel: true,
      mapTypeControl: false, 
      zoomControl: false,
      fullscreenControl: false,
      streetViewControlOptions: false,
      restriction: {
        latLngBounds: {
          north: 49.55, 
          south: 10.25, 
          west: 112.935, 
          east: 163.986
        },
        strictBounds: false,
      }
    });

    kmlLayer = new google.maps.KmlLayer({
      url: "<%=ENV['KML_LIGHT_POLLUTION_URL']%>",
        map: map
    });
    google.maps.event.addListener(kmlLayer, 'click', function(event) {
        event.stop();
    });

    kmlLayer.setMap(null);

    if(weather_forecasts){

    for (var i = 0; i < weather_forecasts.length; i++) {
      let id = weather_forecasts[i]['id']

      markerLatLng = new google.maps.LatLng({
        lat: weather_forecasts[i]['latitude'],
        lng: weather_forecasts[i]['longitude']
      });

      let weather_icon
      if (weather_forecasts[i]['icon'] == '01d' ){
        weather_icon = '<%= asset_path 'weather_icons/01d.png' %>'
        }
      else if (weather_forecasts[i]['icon'] == '02d' ){
        weather_icon = '<%= asset_path 'weather_icons/02d.png' %>'
        }
      else if (weather_forecasts[i]['icon'] == '03d' ){
        weather_icon = '<%= asset_path 'weather_icons/03d.png' %>'
        }
      else if (weather_forecasts[i]['icon'] == '04d' ){
        weather_icon = '<%= asset_path 'weather_icons/04d.png' %>'
        }
      else if (weather_forecasts[i]['icon'] == '09d' ){
        weather_icon = '<%= asset_path 'weather_icons/09d.png' %>'
        }
      else if (weather_forecasts[i]['icon'] == '10d' ){
        weather_icon = '<%= asset_path 'weather_icons/10d.png' %>'
        }
      else if (weather_forecasts[i]['icon'] == '11d' ){
        weather_icon = '<%= asset_path 'weather_icons/11d.png' %>'
        }
      else if (weather_forecasts[i]['icon'] == '13d' ){
        weather_icon = '<%= asset_path 'weather_icons/13d.png' %>'
        }
      else {
        weather_icon = '<%= asset_path 'weather_icons/01d.png' %>'
        }
      
      markers_wf[i] = new google.maps.Marker({
        position: markerLatLng,
        map: map,
        visible: false,
        icon: {
          url: weather_icon,
          scaledSize: new google.maps.Size(40, 40),
          }
      });
      weather_content_data = `<div style="width:100px; height:auto; text-align: center;">
                                <img src="${ weather_icon }" width="60px" />
                                <div class='text-left' style="font-size:12px;">
                                    <p class='mb-0'>曇り:${ weather_forecasts[i]['clouds']}%</p>
                                    <p class='mb-0'>降水:${ weather_forecasts[i]['pop']}%</p>
                                    <p class='mb-0'>湿度:${ weather_forecasts[i]['humidity']}%</p>
                                    <p class='mb-0'>最高気温:${ weather_forecasts[i]['temp_max']}</p>
                                    <p class='mb-0'>最低気温:${ weather_forecasts[i]['temp_min']}</p>
                                </div>
                              </div>`

      infoWindow[i] = new google.maps.InfoWindow({
        content: weather_content_data,
        maxWidth: 600
      });
      weather_infoOpen(i);
      weather_infoClose(i);
    }  
    }

    for (var i = 0; i < star_lights.length; i++) {
      let id = star_lights[i]['id']

      markerLatLng = new google.maps.LatLng({
        lat: star_lights[i]['latitude'],
        lng: star_lights[i]['longitude']
      });

      let magnitude_icon
      if (star_lights[i]['rank'] == 1 ){
        magnitude_icon = '<%= asset_path 'magnitude_icons/icon_1.png' %>'
        }
      else if (star_lights[i]['rank'] == 2 ){
        magnitude_icon = '<%= asset_path 'magnitude_icons/icon_2.png' %>'
        }
      else if (star_lights[i]['rank'] == 3 ){
        magnitude_icon = '<%= asset_path 'magnitude_icons/icon_3.png' %>'
        }
      else if (star_lights[i]['rank'] == 4 ){
        magnitude_icon = '<%= asset_path 'magnitude_icons/icon_4.png' %>'
        }
      else if (star_lights[i]['rank'] == 5 ){
        magnitude_icon = '<%= asset_path 'magnitude_icons/icon_5.png' %>'
        }
      else if (star_lights[i]['rank'] == 6 ){
        magnitude_icon = '<%= asset_path 'magnitude_icons/icon_6.png' %>'
        }
      else{
        magnitude_icon = '<%= asset_path 'magnitude_icons/icon_1.png' %>'
        }

      markers_sl[i] = new google.maps.Marker({
        position: markerLatLng,
        map: map,
        icon: {
          url:  magnitude_icon,
          scaledSize: new google.maps.Size(20, 20),
          }
      });
      star_light_content_data = `<div style="width:100px; height:auto;">
                                      <a href="${ star_lights[i]['star_light_url'] }">
                                        <img src="${ magnitude_icon }" style="width: 50px; display: block; margin-left: auto; margin-right: auto;" />
                                      </a>
                                      <div class='text-left' style="font-size:12px;">
                                          <p class="mb-0">ランク${ star_lights[i]['rank']}</p>
                                          <p class="mb-0">(等級${ star_lights[i]['magnitude']})</p>
                                          <a href="${ star_lights[i]['star_light_url'] }" class='btn btn-sm btn-primary' style="display: block; margin-left: auto; margin-right: auto;">詳細
                                          </a>
                                      </div>
                                  </div>`

      infoWindow[markers_wf.length + i] = new google.maps.InfoWindow({
        content: star_light_content_data,
        maxWidth: 600
      });
      star_light_infoOpen(i);
      star_light_infoClose(i);
    }  
    
    for (var i = 0; i < posts.length; i++) {
      let id = posts[i]['id']

      markerLatLng = new google.maps.LatLng({
        lat: posts[i]['latitude'],
        lng: posts[i]['longitude']
      });

      markers[i] = new google.maps.Marker({
        position: markerLatLng,
        map: map,
        icon: {
          url: '<%= asset_path 'marker_icon.png' %>',
          scaledSize: new google.maps.Size(30, 30),
          }
      });
      
      if( posts[i]['image_url']){
        info_window_image = posts[i]['image_url']
      }
      else{
        info_window_image = '<%= asset_path 'no-image-post.png' %>'
      }

      content_data = `<div style="width:120px; height:auto;">
                          <a href="${ posts[i]['post_url'] }">
                            <img src="${ info_window_image }" width="100%" />
                          </a>
                          <div class='text-left' style="font-size:12px;">
                              <p class="mb-0">${ posts[i]['title']}</p>
                              <p class="mb-0">閲覧数:${ posts[i]['view_count']}</p>
                              <a href="${ posts[i]['post_url'] }" class='btn btn-sm btn-primary' style="display: block; margin-left: auto; margin-right: auto;">詳細
                              </a>
                          </div>
                      </div>`

      infoWindow[markers_sl.length + markers_wf.length + i] = new google.maps.InfoWindow({
        content: content_data,
        maxWidth: 600
      });

      infoOpen(i);
      infoClose(i);
    }
    clusterer = new markerClusterer.MarkerClusterer({
        map,
        markers
    });
    document.getElementById('light_pollutions_btn').addEventListener('click', function() {
        if (kmlLayer.getMap()) {
            kmlLayer.setMap(null);
        } else {
            kmlLayer.setMap(map);
        }
    });
    document.getElementById('markers_btn').addEventListener('click', toggleMarkers);
    document.getElementById('weather_forecasts_btn').addEventListener('click', toggleWeatherForecasts);
    document.getElementById('star_light_btn').addEventListener('click', toggleStarLights);
  }

  function infoOpen(i) {
    markers[i].addListener('click', function () {
      for (var j = 0; j < infoWindow.length; j++) {
      if (j !== i) {
        infoWindow[j].close();
      }
    }
      infoWindow[markers_sl.length + markers_wf.length + i].open(map, markers[i]);
    });
  }
  function infoClose(i) {
    map.addListener('click', function () {
      infoWindow[markers_sl.length + markers_wf.length + i].close(map, markers[i]);
    });
  }

  function weather_infoOpen(i) {
    markers_wf[i].addListener('click', function () {
      for (var j = 0; j < infoWindow.length; j++) {
      if (j !== i) {
        infoWindow[j].close();
      }
    }
      infoWindow[i].open(map, markers_wf[i]);
    });
  }
  function weather_infoClose(i) {
    map.addListener('click', function () {
      infoWindow[i].close(map, markers_wf[i]);
    });
  }

  function star_light_infoOpen(i) {
    markers_sl[i].addListener('click', function () {
      for (var j = 0; j < infoWindow.length; j++) {
      if (j !== i) {
        infoWindow[j].close();
      }
    }
      infoWindow[markers_wf.length + i].open(map, markers_sl[i]);
    });
  }
  function star_light_infoClose(i) {
    map.addListener('click', function () {
      infoWindow[markers_wf.length + i].close(map, markers_sl[i]);
    });
  }

  function toggleMarkers() {
    let currentVisibility = markers[0] && markers[0].getVisible();
    let newVisibility = !currentVisibility;
    for (let marker of markers) {
        marker.setVisible(newVisibility);
    }
    if (newVisibility == false) {
      clusterer.clearMarkers();
    } else {
      clusterer.addMarkers(markers);
    }
  }
  function toggleWeatherForecasts() {
    let currentVisibility = markers_wf[0] && markers_wf[0].getVisible();
    let newVisibility = !currentVisibility;
    for (let marker of markers_wf) {
        marker.setVisible(newVisibility);
    }
  }

  function toggleStarLights() {
    let currentVisibility = markers_sl[0] && markers_sl[0].getVisible();
    let newVisibility = !currentVisibility;
    for (let marker of markers_sl) {
        marker.setVisible(newVisibility);
    }
  }

</script>
