$("#weather-of-date-ajax").html('<%= j(render 'maps/date_button', calendar_moon_age: @calendar_moon_age, select_date: @select_date) %>');


markers_wf.forEach(marker => marker.setMap(null));
markers_wf = [];
weather_forecasts = <%= raw @weather_forecasts.to_json %>;

for (var i = 0; i < weather_forecasts.length; i++) {
      let id = weather_forecasts[i]['id']

      markerLatLng = new google.maps.LatLng({
        lat: weather_forecasts[i]['latitude'],
        lng: weather_forecasts[i]['longitude']
      });

      let weather_icon
      if (weather_forecasts[i]['icon'] == '01d' ){
        weather_icon = '<%= asset_path 'weather_icons3/01d.png' %>'
        }
      else if (weather_forecasts[i]['icon'] == '02d' ){
        weather_icon = '<%= asset_path 'weather_icons3/02d.png' %>'
        }
      else if (weather_forecasts[i]['icon'] == '03d' ){
        weather_icon = '<%= asset_path 'weather_icons3/03d.png' %>'
        }
      else if (weather_forecasts[i]['icon'] == '04d' ){
        weather_icon = '<%= asset_path 'weather_icons3/04d.png' %>'
        }
      else if (weather_forecasts[i]['icon'] == '09d' ){
        weather_icon = '<%= asset_path 'weather_icons3/09d.png' %>'
        }
      else if (weather_forecasts[i]['icon'] == '10d' ){
        weather_icon = '<%= asset_path 'weather_icons3/10d.png' %>'
        }
      else if (weather_forecasts[i]['icon'] == '11d' ){
        weather_icon = '<%= asset_path 'weather_icons3/11d.png' %>'
        }
      else if (weather_forecasts[i]['icon'] == '13d' ){
        weather_icon = '<%= asset_path 'weather_icons3/13d.png' %>'
        }
      else {
        weather_icon = '<%= asset_path 'weather_icons3/01d.png' %>'
        }
      
      markers_wf[i] = new google.maps.Marker({
        position: markerLatLng,
        map: map,
        visible: false,
        icon: {
          url: weather_icon,
          scaledSize: new google.maps.Size(40, 40),
          }
      });
      weather_content_data = `<div style="width:100px; height:180px; text-align: center;">
                                <img src="${ weather_icon }" width="60px" />
                                <div class='text-left' style="font-size:12px;">
                                    <p class='mb-0'>曇り:${ weather_forecasts[i]['clouds']}%</p>
                                    <p class='mb-0'>降水:${ weather_forecasts[i]['pop']}%</p>
                                    <p class='mb-0'>湿度:${ weather_forecasts[i]['humidity']}%</p>
                                    <p class='mb-0'>最高気温:${ weather_forecasts[i]['temp_max']}</p>
                                    <p class='mb-0'>最低気温:${ weather_forecasts[i]['temp_min']}</p>
                                </div>
                              </div>`

      infoWindow[i] = new google.maps.InfoWindow({
        content: weather_content_data,
        maxWidth: 600
      });
      weather_infoOpen(i);
      weather_infoClose(i);
      toggleWeatherForecasts();
    }  



