<section class="content-section bg-black" id="portfolio">
    <div class="container px-4 px-lg-5">
        <div class="row justify-content-center">
            <% begin %>
                <% hotels.each do |hotel| %>
                    <% info = hotel["hotelBasicInfo"] %>
                    <div class="col-lg-6 fadein">
                        <a class="list-item" href = "<%= info["hotelInformationUrl"] %>" target="_blank">
                            <div class="caption">
                              <div class="caption-content mb-0">
                              </div>
                            </div>
                            <% if info["roomImageUrl"].present? %>
                              <img src="<%= info["roomImageUrl"] %>" class='img-fluid ' alt="..." style="width: 100%; height: 100%;">
                            <% else %>
                              <img src="<%= info["hotelImageUrl"] %>" class='img-fluid ' alt="..." style="width: 100%; height: 100%;">
                            <% end %>
                        </a>
                        <div class='container rounded mb-1 px-4 pt-3 pb-3 px-lg-5 text-left bg-secondary'>
                            <div class="h2"><%= info['hotelName'] %></div>
                            <div class='row justify-content-left'>
                                <div class="col-2 text-light">
                                    <% if info["reviewAverage"] == nil %>
                                        ★なし
                                    <% else %>
                                        ★<%= info["reviewAverage"] %>
                                    <% end %>
                                </div>
                                <div class="col-4 text-light">
                                    <% if info["reviewCount"] == nil %>
                                      レビュー数 0
                                    <% else %>
                                      レビュー数<%= info["reviewCount"] %>
                                    <% end %>
                                </div>
                                <div class="col-6 text-primary">
                                    <% if info["hotelMinCharge"] == nil %>
                                      最安値 --- 円
                                    <% else %>
                                      最安値 <%= info["hotelMinCharge"] %> 円
                                    <% end %>
                                </div>
                            </div>
                            <p class="mb-0"><%= info["access"] %></p>
                        </div>
                    </div>
                <% end %>
          <% rescue RakutenWebService::NotFound %>
            <strong class='mb-1'> ホテルが見つかりませんでした </strong>
          <% end %>
      </div>
    </div>
</section>