<div class="container py-3 px-4 px-lg-5">
    <div class="row justify-content-center">
        <% begin %>
            <% hotels.each do |hotel| %>
                <% info = hotel["hotelBasicInfo"] %>
                <div class="col-lg-6 py-3 fadein">
                    <div class='rounded mb-1 text-left bg-secondary'>
                        <a class="list-item rounded" href = "<%= info["hotelInformationUrl"] %>" target="_blank">
                            <div class="caption">
                              <div class="caption-content mb-0">
                              </div>
                            </div>
                            <% if info["roomImageUrl"].present? %>
                              <img src="<%= info["roomImageUrl"] %>" class='img-fluid ' alt="..." style="width: 100%; height: 100%;">
                            <% else %>
                              <img src="<%= info["hotelImageUrl"] %>" class='img-fluid ' alt="..." style="width: 100%; height: 100%;">
                            <% end %>
                        </a>
                        <div class="px-4 pb-4">
                            <div class="h5"><%= info['hotelName'] %></div>
                            <div class='text:light' style='font-size: 13px;'>
                                <i class="px-2">
                                    <% if info["reviewAverage"] == nil %>
                                        ★なし
                                    <% else %>
                                        ★<%= info["reviewAverage"] %>
                                    <% end %>
                                </i>
                                <i class="px-2">
                                    <% if info["reviewCount"] == nil %>
                                      レビュー数 0
                                    <% else %>
                                      レビュー数<%= info["reviewCount"] %>
                                    <% end %>
                                </i>
                                <i class="text-primary px-2" style='font-size: 1rem;'>
                                    <% if info["hotelMinCharge"] == nil %>
                                      最安値 --- 円
                                    <% else %>
                                      最安値 <%= info["hotelMinCharge"] %> 円
                                    <% end %>
                                </i>
                            </div>
                            <p class="mb-0" style='font-size: 12px;'><%= info["access"] %></p>
                        </div>
                    </div>
                </div>
            <% end %>
      <% rescue RakutenWebService::NotFound %>
        <strong class='mb-1'> ホテルが見つかりませんでした </strong>
      <% end %>
  </div>
</div>