<header class="star-lights-show-masthead parallax-content d-flex align-items-center"  style="background-image: url(<%= asset_path "star_lights_rank_img/#{@star_light.rank}.jpg" %>) ">
    <div class="star-lights-show-img-cover d-flex flex-column align-items-center justify-content-center fadein">
        <div class="text-center">
            <h2 class='text-light star-lights-show-rank-font'>ランク：<%= @star_light.rank %></h2>
            <% @star_light.rank.times do%>
                <%= image_tag asset_path("magnitude_icons/icon_#{@star_light.rank}.png"), class: 'star-lights-show-rank-icon' %>
            <% end %>
            <div class='star-lights-show-info-font mb-1'>
                <% if @star_light.rank == 1 %>
                  都市部の明るさ、星はほとんど見られない
                <% elsif @star_light.rank == 2 %>
                  市街地の明るさ、星座の形が分かり始める
                <% elsif @star_light.rank == 3 %>
                  住宅地の明るさ、星座の形がよく分かる
                <% elsif @star_light.rank == 4 %>
                  郊外の暗さ、天の川が見え始める
                <% elsif @star_light.rank == 5 %>
                  山や海などの暗さ、天の川がよく見られる
                <% elsif @star_light.rank == 6 %>
                  天の川の複雑な構造が確認でき、星団などの観測ができる
                <% end %>
            </div>
                <p class='star-lights-show-sample-font' style='font-size: 10px;'>※ 画像はイメージです。</p>
        </div>
    </div>
</header>

<div class="container pt-3 mt-3 pb-3 mb-3 px-4 fadein">
    <table class='table table-sm text-light text-center'>
        <thead>
            <tr>
              <% for i in 0..6 do %>
                <td style='border:none;'>
                  <% date = Date.today %>
                  <% date += i %>
                  <% date_time = date.strftime('%Y%m%d')%>
                  <% @calendar_moon_age = MkCalendar.new("#{date_time}").moonage.round%>
                  <%= image_tag(asset_path("moon_icons/#{@calendar_moon_age}.png"), class: 'mt-0 pt-0', style: 'width: 20px; filter: hue-rotate(140deg);') %>
                </td>
              <% end %> 
            </tr>
        </thead>
        <tbody>
            <tr>
              <% for i in 0..6 do %>
                  <th style='border:none;'>
                    <% date = Date.today %>
                    <% date += i %>
                    <% month = date.month %>
                    <% day = date.day%>
                    <%= link_to "#{month}/#{day}", maps_path(date: date), class: 'btn btn-dark btn-sm' %>
                  </th>
                <% end %> 
            </tr>
        </tbody>
    </table> 
</div>

<%= render 'shared/weather', weather_forecasts: @weather_forecasts %>
<%= render 'shared/hotel', hotels: @hotels %>

<div class="container pt-3 pb-3 bg-light rounded rounded-3">
    <p class='text-center'>ランクは環境省の観測結果を元にしています。</p>
    <div class='d-flex justify-content-center'>
        <div class='row text-center'>
            <div class='col'>
                <div><%= link_to(image_tag(asset_path('kankyosho_banner.png'),style: 'width: 200px'), 'https://www.env.go.jp/air/life/hoshizorakansatsu/index.html')%></div>
            </div>
            <div class='col'>
                <%= link_to(asset_path('magnitude_index.png'), class: 'btn btn-sm btn-dark', "data-lightbox" => asset_path('magnitude_index.png')) do %>   
                    環境省「夜空の明るさ」の目安
                <% end %>
            </div>
        </div>
    </div>
</div>
