<% content_for :title do %>
  <%"マイページ編集" %>
<% end %>

<section class="conntent-section d-flex align-items-center bg-black" >
    <div class="container mb-1 px-4 mt-5 px-lg-5 text-center">
      <h2 class="container mb-1 px-4 mt-5 px-lg-5 text-left">マイページを編集</h2>
        <% if @user.image.present? %>
          <%= image_tag @user.image.thumb.url, id: :my_pages_edit_img_prev, size: '300x200', class: 'my-pages-edit-img-icon' %>
        <% else %>
          <%= image_tag "default.jpg", id: :my_pages_edit_img_prev, class: 'my-pages-edit-img-icon' %>
        <% end %>

        <%= form_with(model: @user, url: my_page_path, method: :patch) do |form|%>
        <% if @user.errors.any? %>
          <div id="error_explanation">
            <h2 class='mb-1'><%= pluralize(@user.errors.count, '件') %> のエラー</h2>
            <ul>
              <% @user.errors.each do |error| %>
                <li class='mb-1'><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
          <div class="form-group mb-1 text-left">
            <%= form.label :name %>
            <%= form.text_field :name, class: "form-control bg-secondary text-white", placeholder: "ニックネーム" %>
          </div>
          <div class="form-group mb-1 text-left">
            <%= form.label :content %>
            <%= form.text_field :content, class: "form-control bg-secondary text-white", placeholder: "コンテント" %>
          </div>
          <div class="form-group mb-1 text-left">
            <%= form.label :image %>
            <%= form.file_field :image, class: "form-control-file bg-secondary text-white", id: :user_img %>
          </div>
          <%= form.submit '登録する', class: "btn btn-primary" %>
        <% end %>
    </div>
</section>