<section class="conntent-section d-flex align-items-center bg-black" >
    <div class="container px-4 mt-5 px-lg-5 text-center">
      <h2 class="mb-1 text-left"><%= t('.sign_in') %></h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-group mb-1 text-left">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control bg-secondary text-white", placeholder: "メールアドレス" %>
        </div>

        <div class="form-group mb-1 text-left">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "current-password", class: "form-control bg-secondary text-white", placeholder: "パスワード" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="form-group mb-1 text-left">
          <div class="form-check form-switch ">
            <%= f.check_box :remember_me, class: "form-check-input" %>
            <%= f.label :remember_me %>
          </div>
          </div>
        <% end %>

        <div class="actions">
          <%= f.submit t('.sign_in'), class: "btn btn-primary" %>
        </div>
      <% end %>
      <div class='mt-4'>
        <%= link_to user_google_omniauth_authorize_path, method: :post do %>
          <%= image_tag "google_icon.png" %>
        <% end %>
      </div>
      <div class='mt-4'>
        <%= link_to user_line_omniauth_authorize_path, method: :post do %>
          <%= image_tag "line_icon.png"  %>
        <% end %>
      </div>
    </div>
</section>
