<% content_for :title do %>
  <%"ログイン" %>
<% end %>

<section class="conntent-section d-flex align-items-center bg-black" >
    <div class="container px-4 mt-5 px-lg-5 text-center">
      <h2 class="mb-1 text-left"><%= t('.sign_in') %></h2>
      
      <div class='text-left text-light py-3'>アカウント未登録の方は<%= link_to '新規登録', new_user_registration_path, class: 'text-decoration-none' %>から</div>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-group mb-1 text-left">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control bg-secondary text-white", placeholder: "メールアドレス" %>
        </div>

        <div class="form-group mb-1 text-left">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "current-password", class: "form-control bg-secondary text-white", placeholder: "パスワード" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="form-group mb-1 text-left">
          <div class="form-check form-switch ">
            <%= f.check_box :remember_me, class: "form-check-input" %>
            <%= f.label :remember_me %>
          </div>
          </div>
        <% end %>

        <div class="actions">
          <%= f.submit t('.sign_in'), class: "btn btn-primary", id: 'sign_in_btn' %>
        </div>
      <% end %>

      <div class='content mt-5 pt-3 text-light border-top'>
          <h2 class='text-left'>簡単ログイン</h2>
          <div class='mt-4'>
              <%= link_to user_google_omniauth_authorize_path, class: 'col-10 col-lg-8 btn btn-dark btn-lg border border-primary', method: :post do %>
                  <i class="fa-brands fa-google fa-2xl" style="color: #1D809F;"></i> Googleでログイン
              <% end %>
          </div>
          <div class='mt-4 mb-4'>
              <%= link_to user_line_omniauth_authorize_path, class: 'col-10 col-lg-8 btn btn-dark btn-lg border border-primary', method: :post do %>
                  <i class="fa-brands fa-line fa-2xl" style="color: #1D809F;"></i> LINEでログイン
              <% end %>
          </div>
      </div>
    </div>
</section>
