<div class="container mb-1 pt-3 mt-3 mb-3 pb-4 px-4 text-left rounded bg-secondary fadein">
    <p>
      <% comments.each do |comment|%>
        <% if comment.id.present? %>
          <p class="bg-secondary pb-4 pt-3 border-bottom fadein">
            <% if comment.user.image.present? %>
              <%= link_to image_tag(comment.user.image.thumb.url, class: 'img-icon-post-show rounded-circle'), my_page_path(comment.user) %>
            <% else %>
              <%= link_to image_tag("default.jpg", class: 'img-icon-post-show rounded-circle'), my_page_path(comment.user) %>
            <% end %>
            <%= comment.content %>
            
            <% c_date = comment.created_at%>
            <%= "#{c_date.year}-#{c_date.month}-#{c_date.day} #{c_date.hour}:#{c_date.min}" %>
            <%= link_to '削除', post_comment_path(@post, comment), method: :delete, data: {confirm: "削除しますか？"}, class: 'btn btn-dark' %>
            <% if comment.image.present? %>
            
              <%= image_tag comment.image.url, class:'img-comment-show'%>
            
            <% end %>
          </p>
        <% end %>
      <% end %>
    </p>

    <% if user_signed_in? %>
        <% if @comment.errors.any? %>
          <div id="error_explanation">
            <h2 class='mb-1'><%= pluralize(@comment.errors.count, '件') %> のエラー</h2>
            <ul>
              <% @comment.errors.each do |error| %>
                <li class='mb-1'><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
      <%= form_with(model: [@post, @comment]) do |form| %>
        <div class='row'>
            <div class='col'>
                <div class="input-group">
                    <%= form.text_field :content, class: "form-control bg-dark text-white", placeholder: "コメントを入力" %>
                    <%= form.submit '投稿', class: 'btn btn-sm btn-primary border' %>
                </div>
            </div>
            <%= form.file_field :image, class: 'col btn btn-sm btn-dark border'%>
        </div>   
      <% end %>
    <% end %>
</div>
