<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2 class='mb-1'><%= pluralize(post.errors.count, '件') %> のエラー</h2>
      <ul>
        <% post.errors.each do |error| %>
          <li class='mb-1'><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if post.image.present? %>
    <%= image_tag post.image.url, id: :img_prev, size: '300x200' %>
  <% else %>
    <%= image_tag "no-image.png", id: :img_prev %>
  <% end %>

  <div class="form-group mb-1 text-left">
    <%= form.label :title %>
    <%= form.text_field :title, class: "form-control bg-secondary text-white", placeholder: "タイトル"%>
  </div>

  <div class="form-group mb-1 text-left">
      <%= form.label :content %>
      <%= form.text_area :content, class: "form-control form-control-lg bg-secondary text-white", placeholder: "本文" %>
  </div>

  <div class="form-group mb-1 text-left">
    <%= form.label :address %>
    <div id='map'></div>
  </div>

  <%= form.hidden_field :latitude, id: "latitude-input" %>
  <%= form.hidden_field :longitude, id: "longitude-input" %>

  <div class="form-group mb-1 text-left">
    <%= form.label :access_date, '訪れた日' %>
    <%= form.date_field :access_date, class: 'form-control bg-secondary text-white', value: ( post.new_record? ? Date.today : post.access_date ) %>
  </div>

  <div class="form-group mb-1 text-left">
    <%= form.label :image %>
    <%= form.file_field :image, class: "form-control-file bg-secondary text-white", id: :post_img %>
  </div>

  <%= form.fields_for :rating do |rating_form| %>
    <div class="form-inline">
      <div class="form-group mb-1 text-left">
        <p><%= rating_form.label :sky_light %></p>
        <p><%= rating_form.number_field :sky_light, class: 'form-control bg-secondary text-white' %></p>
      </div>
      <div class="form-group mb-1 text-left">
        <p><%= rating_form.label :sky_clear %></p>
        <p><%= rating_form.number_field :sky_clear, class: 'form-control bg-secondary text-white' %></p>
      </div>
      <div class="form-group mb-1 text-left">
        <p><%= rating_form.label :sky_extent %></p>
        <p><%= rating_form.number_field :sky_extent, class: 'form-control bg-secondary text-white' %></p>
      </div>
      <div class="form-group mb-1 text-left">
        <p><%= rating_form.label :accessiblity %></p>
        <p><%= rating_form.number_field :accessiblity, class: 'form-control bg-secondary text-white' %></p>
      </div>
      <div class="form-group mb-1 text-left">
        <p><%= rating_form.label :convenient %></p>
        <p><%= rating_form.number_field :convenient, class: 'form-control bg-secondary text-white' %></p>
      </div>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit '投稿', class: "btn btn-primary" %>
  </div>
<% end %>

<style>
#map {
  height: 300px;
  width: 400px;
}
</style>

<script>
  let map;
  let marker
  let lat = 35.6585
  let lng = 139.7486
  function initMap() {
      geocoder = new google.maps.Geocoder()
      map = new google.maps.Map(document.getElementById('map'), {
        center: { lat: lat, lng: lng }, 
        zoom: 5,
        mapId: "<%=ENV['MAP_ID']%>",
        scrollwheel: true,
        streetViewControl: false,
        mapTypeControl: false, 
        restriction: {
          latLngBounds: {
            north: 49.55, 
            south: 20.25, 
            west: 122.935, 
            east: 153.986
          },
          strictBounds: false
        }
      });

       map.addListener('click', function(e) {
        let latLng = e.latLng.toJSON();   
        document.getElementById('latitude-input').value = latLng.lat;
        document.getElementById('longitude-input').value = latLng.lng;
        if (marker) {
            marker.setMap(null);
        }
        marker = new google.maps.Marker({
            position: e.latLng,
            map: map
        });
    });
  }
</script>
