<section class="content-section bg-black">
    <div class="container px-4">
        <div class="row justify-content-center">    
            <% posts.each do |post| %>
                <div class="col-lg-6 fadein">
                    <a class="list-item rounded " href = "<%= post_path(post) %>">
                        <div class="caption">
                            <div class="caption-content mb-0">
                            </div>
                        </div>
                        <% if post.image? %>
                          <%= image_tag post.image.url, class: 'img-fluid', alt: "..." %>
                        <% else %>
                          <%= image_tag "no-image.png", class: 'img-fluid', alt: "..." %>
                        <% end %>
                    </a>
                    <div class='container rounded mb-1 px-4 pt-3 pb-3 px-lg-5 text-left bg-secondary'>
                        <p><%= post.title %></p>
                        <i class="fa-solid fa-eye me-1"></i><%= post.view_count %> view
                        <% if user_signed_in?%>
                            <% if post.favorites.find_by(user_id: current_user.id).present? %>
                                <% favorite = post.favorites.find_by(user_id: current_user.id) %>
                                <%= link_to favorite_path(favorite.id, post_id: post.id, page: "#{controller_name}/#{action_name}"), method: :delete do %> 
                                    <i class="fa-solid fa-heart ms-3 me-1" style="color: #ff0000;"></i>
                                <% end %>
                            <% else %>
                                <%= link_to favorites_path(post_id: post.id, page: "#{controller_name}/#{action_name}"),  method: :post do %> 
                                    <i class="fa-regular fa-heart ms-3 me-1"></i>
                                <% end %>
                            <% end %>
                          <% else %>
                              <%= link_to new_user_registration_path do %> 
                                  <i class="fa-regular fa-heart ms-3 me-1"></i>
                              <% end %>
                          <% end %>
                        <%= post.favorite_count %>
                        </p>
                    </div>
                </div>
            <% end %>
            <%= paginate @posts %>
        </div>
     </div>
</section>
