<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Image</th>
      <th>View count</th>
      <th>Favorite count</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.content %></td>
        <td>
        <% if post.image? %>
          <%= image_tag post.image.url, class: 'img-index' %>
        <% else %>
          <%= image_tag "no-image.png", class: 'img-index' %>
        <% end %>
        </td>
        <td><%= post.view_count %></td>
        <td><%= post.favorite_count %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
