<div class='container'>
    <div class="row h-25 mb-1 px-4 mt-5 px-lg-5 text-center">
        <div class='col'>
            <div class='btn-group bg-light rounded'>
                <% if post.user.image.present? %>
                  <%= link_to image_tag(post.user.image.thumb.url, class: 'posts-show-user-icon border boder-light rounded-circle'), my_page_path(post.user) %>
                <% else %>
                  <%= link_to image_tag("default.jpg", class: 'posts-show-user-icon border boder-light rounded-left'), my_page_path(post.user) %>
                <% end %>
                <%= link_to post.user.name, my_page_path(post.user), class: 'btn btn-light' %>
            </div>
            <% if current_user == post.user %>
                <%= link_to '編集', edit_post_path(post), class: 'btn btn-dark' %> 
                <%= link_to '削除', post_path(post), method: :delete, data: {confirm: "削除しますか？"}, class: 'btn btn-dark' %> 
            <% end %>
        </div>

        <div class='col ml-auto'>
            <i class='icon-eye'></i>
            <%= post.view_count%>
        
            <% if user_signed_in?%>
                <% if favorite.present? %>
                  <%= link_to favorite_path(favorite.id, post_id: post.id), id: 'favorite_btn', method: :delete do %> 
                      <i class="fa-solid fa-heart ms-3" style="color: #ff0000;"></i>
                  <% end %>
              <% else %>
                <%= link_to favorites_path(post_id: post.id), id: 'favorite_btn', method: :post do %> 
                    <i class="fa-regular fa-heart ms-3"></i>
                <% end %>
              <% end %>
            <% else %>
                <%= link_to new_user_registration_path do %> 
                    <i class="fa-regular fa-heart ms-3"></i>
                <% end %>
            <% end %>
            <%= post.favorite_count %>
        
            <i class='ms-3'></i>
            <%= post.access_date %>
        
            <i class='ms-3'></i>
            <%= post.address %>
        </div>
    </div>
    <div class='row fadein'>
        <h2 class="col-12 col-lg-5 mb-5 mt-5 text-light d-flex align-items-center">
            <%= post.title %>
        </h2>

        <div class='col col-lg-3 d-flex justify-content-end'>
            <div class='posts-show-img-content'>
                <% if @post.image? %>
                    <%= link_to @post.image.url, class:' btn btn-dark', "data-lightbox" => @post.image.url do %>
                        <%= image_tag @post.image.url, class: 'posts-show-img'%>
                    <% end %>
                    
                <% else %>
                    <%= image_tag "no-image.png", class: 'posts-show-img' %>
                <% end %>
            </div>
        </div>
        <div class="col col-lg-3 d-flex justify-content-end">
            <div class="bg-secondary rounded fadein">
                <%= javascript_pack_tag 'radar_chart' %>
                <canvas class="posts-show-chart" id="myChart"></canvas>
            </div>
        </div>
    </div>
    <div class="pt-3 mt-5 pb-3 mb-3 px-4 text-light" style='min-height: 150px;'> 
        <%= post.content %>
    </div>
</div>
