<div class='container'>
    <div class="row  py-0">
         <div class='col text-right'>
            <% if @post.image? %>
                <%= link_to @post.image.url, class: 'btn btn-sm text-light', "data-lightbox" => @post.image.url do %>
                    拡大
                <% end %>
            <% end %>
        </div>
    </div>
    <div class="row text-light pb-5 px-4 text-center">
        <div class='col-12 col-lg-6 mb-3'>
            <div class='btn-group bg-light rounded'>
                <% if post.user.image.present? %>
                  <%= link_to image_tag(post.user.image.thumb.url, class: 'posts-show-user-icon border boder-light rounded-circle'), my_page_path(post.user) %>
                <% else %>
                  <%= link_to image_tag("default.jpg", class: 'posts-show-user-icon border boder-light rounded-left'), my_page_path(post.user) %>
                <% end %>
                <%= link_to post.user.name, my_page_path(post.user), class: 'btn btn-light' %>
            </div>
            <% if current_user == post.user %>
                <%= link_to '編集', edit_post_path(post), class: 'btn btn-dark' %> 
                <%= link_to '削除', post_path(post), method: :delete, data: {confirm: "削除しますか？"}, class: 'btn btn-dark' %> 
            <% end %>
        </div>

        <div class='col ml-auto'>
            <i class='icon-eye'></i>
            <%= post.view_count%>

            <i id="favorite_button_<%= post.id %>">
                <%= render "favorites/button", post: post%>
            </i>
        
            <i class='ms-3'></i>
            <%= post.access_date %>
        
            <i class='ms-3'></i>
            <%= post.address %>
        </div>
    </div>

    <div class="py-3">
        <h3 class="mb-1 text-light d-flex align-items-center fadein">
            <%= post.title %>
        </h3>
        <div class="py-3 px-4 text-light fadein"> 
            <%= post.content %>
        </div>
    </div>

    <div class="d-flex py-3 justify-content-center">
        <div class="fadein">
            <%= javascript_pack_tag 'radar_chart' %>
            <canvas class="posts-show-chart" id="myChart"></canvas>
        </div>
    </div>
</div>
