
  <div class="container mt-5 px-4 px-lg-5 text-left fadein">
  <p>
    <h2 class="mb-5 text-center"><strong>天気</strong></h2>     
      <table>
        <thead>
          <tr>
            <% for i in 0..13 do %>
              <th class='mb-1'>
                <% date = Date.today %>
                <% date += i %>
                <% month = date.month %>
                <% day = date.day%>
                <%= "#{month}/#{day}" %>
              </th>
            <% end %> 
          </tr>
        </thead>
        <tbody>
          <tr>
          <% weathercode = weather_data["daily"]["weathercode"]%>
          <% weathercode.each do |code| %>
            <td>
            <% if code == 0 %>
              <%= image_tag "weather_icons/100.png", class: 'img-show-weather-icon' %>
            <% elsif code == 1 %>
              <%= image_tag "weather_icons/101.png", class: 'img-show-weather-icon' %>
            <% elsif code == 2 %>
              <%= image_tag "weather_icons/201.png", class: 'img-show-weather-icon' %>
            <% elsif code == 3 %>
              <%= image_tag "weather_icons/200.png", class: 'img-show-weather-icon' %>
            <% elsif 60 < code && code < 68 || 79 < code && code < 83%>
              <%= image_tag "weather_icons/300.png", class: 'img-show-weather-icon' %>
            <% elsif 50 < code && code < 56 %>
              <%= image_tag "weather_icons/202.png", class: 'img-show-weather-icon' %>
            <% elsif 70 < code && code < 78 || 85 == code || code == 86 %>
              <%= image_tag "weather_icons/400.png", class: 'img-show-weather-icon' %>
            <% elsif 94 < code %>
              <%= image_tag "weather_icons/500.png", class: 'img-show-weather-icon' %>
            <% else %>
              <%= image_tag "no-image.png", class: 'img-show-weather-icon' %>
            <% end %>
            </td>
          <% end %>
          </tr>
        </tbody>
      </table>
    </p>
  </div>
