<header class="masthead d-flex align-items-center"  style="background-image: url(<%= asset_path 'galaxy.jpg' %>) ">
    <div class="container px-4 px-lg-5 text-center">
        <h2 class="mb-1">Star Finder</h2>
        
        <a class="btn btn-primary" role="button" data-toggle="collapse" href="#example1" aria-expanded="false" aria-controls="example1" >探す</a>
    </div>
</header>

<div class="masthead d-flex align-items-center bg-black" >
    <div class="container px-4 px-lg-5 text-center">
        <h2 class="mb-1"><%= @day %></h2>
        <p class="mb-1">
        <% @moon_time.each do |moon| %>
            <%= moon %>
        <% end %>
        </p>
    </div>
</div>

<div class="masthead_2 d-flex align-items-center bg-black" >
    <div class="container px-4 px-lg-5 text-center">
        <a class="btn btn-primary" role="button" data-toggle="collapse" href="#example1" aria-expanded="false" aria-controls="example1" >探す</a>
        <h2 class="mb-1"><%= @day %></h2>
        <p class="mb-1">
        <% @moon_time.each do |moon| %>
            <%= moon %>
        <% end %>
        </p>
    </div>
</div>
<!-- Callout-->
<div class="find-wrapper collapse" id="example1">
    <%= render 'search', q: @q, url: posts_path %>
    <%= render 'calendar', posts: @posts%>
</div>

<!-- Map-->
<div class="map bg-black" id="contact">
   <%= render 'map'%>
</div>

<!-- リスト-->
<%= render 'list', posts: @posts %>