<header class="masthead d-flex align-items-center "  style="background-image: url(<%= asset_path 'galaxy.jpg' %>) ">
    <div class="container px-4 px-lg-5 text-center">
        <h2 class="mb-1">Star Finder</h2>
        
        <a class="btn btn-primary" role="button" data-toggle="collapse" href="#example1" aria-expanded="false" aria-controls="example1" >探す</a>
    </div>
</header>
<div class="masthead d-flex align-items-center bg-black" >
    <div class="container px-4 px-lg-5 text-center">
        <h2 class="mb-1"><%= @day %></h2>
        <p class="mb-1">
        <% @moon_time.each do |moon| %>
            <%= moon %>
        <% end %>
        </p>
    </div>
</div>
<!-- Callout-->
<div class="find-wrapper collapse" id="example1">
    <%= render 'search', q: @q, url: posts_path %>
    <%= render 'calendar', posts: @posts%>
</div>

<!-- Map-->
<div class="map bg-black fadein" id="contact">
   <%= render 'map'%>
</div>

<!-- Portfolio-->
<section class="content-section bg-black" id="portfolio">

    <div class="container px-4 px-lg-5">
        
        <div class="row gx-0">
          <%= render 'list', posts: @posts %>
        </div>
    </div>
</section>
<!-- Call to Action-->
<section class="content-section bg-primary text-white">
    <div class="container px-4 px-lg-5 text-center">
        <h2 class="mb-4">The buttons below are impossible to resist...</h2>
        <a class="btn btn-xl btn-light me-4" href="#!">Click Me!</a>
        <a class="btn btn-xl btn-dark" href="#!">Look at Me!</a>
    </div>
</section>


<%= render 'topimage', bests: @bests %>

 <!-- Services-->
<section class="content-section bg-black text-white text-center" id="services">
    <div class="container px-4 px-lg-5">
        <div class="content-section-heading">
            <h3 class="text-secondary mb-0">Services</h3>
            <h2 class="mb-5">What We Offer</h2>
        </div>
        <div class="row gx-4 gx-lg-5">
            <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                <span class="service-icon rounded-circle mx-auto mb-3"><i class="icon-screen-smartphone"></i></span>
                <h4><strong>Responsive</strong></h4>
                <p class="text-faded mb-0">Looks great on any screen size!</p>
            </div>
            <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                <span class="service-icon rounded-circle mx-auto mb-3"><i class="icon-pencil"></i></span>
                <h4><strong>Redesigned</strong></h4>
                <p class="text-faded mb-0">Freshly redesigned for Bootstrap 5.</p>
            </div>
            <div class="col-lg-3 col-md-6 mb-5 mb-md-0">
                <span class="service-icon rounded-circle mx-auto mb-3"><i class="icon-like"></i></span>
                <h4><strong>Favorited</strong></h4>
                <p class="text-faded mb-0">
                    Millions of users
                    <i class="fas fa-heart"></i>
                    Start Bootstrap!
                </p>
            </div>
            <div class="col-lg-3 col-md-6">
                <span class="service-icon rounded-circle mx-auto mb-3"><i class="icon-mustache"></i></span>
                <h4><strong>Question</strong></h4>
                <p class="text-faded mb-0">I mustache you a question...</p>
            </div>
        </div>
    </div>
</section>