<header class="masthead d-flex align-items-center"  style="background-image: url(<%= asset_path 'galaxy.jpg' %>) ">
    <div class="container px-4 px-lg-5 text-center">
        <h2 class="mb-1">Star Finder</h2>
        
        <a class="btn btn-primary" role="button" data-toggle="collapse" href="#example1" aria-expanded="false" aria-controls="example1" >探す</a>
    </div>
</header>

<div class="masthead d-flex align-items-center bg-black" >
    <div class="container px-4 px-lg-5 text-center">
    <%= image_tag(asset_path("moon_icons/#{@moon_age}.png"), style: 'width: 50px;') %>
        <h2 class="mb-1"><%= @day %></h2>
        <p class="mb-1">
        <% @moon_time.each do |moon| %>
            <%= moon %>
        <% end %>
        </p>
    </div>
</div>

<div class="masthead_2 d-flex align-items-center bg-black" >
    <div class="container px-4 px-lg-2 text-center">
        <div class="row justify-content-between">
            <div class="col-4">
                <a class="btn btn-dark btn-lg toggle-btn"  href="#"  >
                    <h3><%= @day %></h3>
                </a>
            </div>
            <div class="col-4">    
                <%= image_tag(asset_path("moon_icons/#{@moon_age}.png"), style: 'width: 30px;') %>
                <p class="mb-1">
                <% @moon_time.each do |moon| %>
                    <%= moon %>
                <% end %>
                </p>
            </div>
            <div class="col-4">
                <%= render 'search', q: @q, url: posts_path %>
            </div>
        </div>
    </div>
</div>

<div class="toggle-menu">
    <section class="conntent-section d-flex align-items-center bg-secondary" >
        <div class="container px-4 mt-5 mb-5 px-lg-5 text-center">
        <%= render 'search', q: @q, url: posts_path %>
        <%= sort_link(@q, :view_count, "閲覧数の多い順", class: 'btn btn-primary mt-3')%>
        <%= sort_link(@q, :favorite_count, "お気に入りの多い順", class: 'btn btn-primary mt-3') %>
        <%= render 'calendar', posts: @posts%>
        </div>
    </section>
</div>

<!-- Map-->
<div class="map bg-black fadein" id="contact">
   <%= render 'map'%>
</div>

<!-- リスト-->
<%= render 'list', posts: @posts %>