<% if @post.image? %>
    <% image_url = @post.image.url %>
<% else %>
    <% image_url = asset_path "no-image.png" %>
<% end %>
    <div class="background-image parallax-content">
    <div class='gradient'></div>
    </div>

<%= render 'posts/post_data', post: @post, favorite: @favorite %>
<%= render 'posts/radar_chart' %>
<%= render 'posts/weather', weather_data: @weather_data %>
<%= render 'posts/comment', comments: @comments %>
<%= render 'posts/hotel', hotels: @hotels %>

<style>
  .background-image {
    background-image:  url("<%= image_url %>");
    height: 600px; 
    position: relative;
  }
</style>