<p>
  <% if @post.image? %>
    <%= image_tag @post.image.url, class: 'img-show' %>
  <% else %>
    <%= image_tag "no-image.png", class: 'img-show' %>
  <% end %>
</p>
<% if user_signed_in?%>
  <% if @favorite.present? %>
    <%= link_to 'お気に入り解除', favorite_path(@favorite.id, post_id: @post.id), method: :delete %> 
  <% else %>
    <%= link_to 'お気に入り', favorites_path(post_id: @post.id), method: :post %> 
  <% end %>
<% else %>
  <%= link_to 'お気に入り',  new_user_registration_path%> 
<% end %>

<%= link_to 'Edit', edit_post_path(@post) %> 

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<p>
  <strong>Access date:</strong>
  <%= @post.access_date %>
</p>

<p>
  <strong>Address:</strong>
  <%= @post.address %>
</p>

<p>
  <strong>User:</strong>
  <%= link_to @post.user.name, my_page_path(@post.user) %>
</p>

<p>
  <strong>View count:</strong>
  <%= @post.view_count %>
</p>

<p>
  <strong>Favorite count:</strong>
  <%= @post.favorite_count %>
</p>

<%= javascript_pack_tag 'radar_chart' %>

<canvas id="myChart"></canvas>

<table>
  <thead>
    <tr>
      <% for i in 0..13 do %>
        <th>
          <% date = Date.today %>
          <% date += i %>
          <% month = date.month %>
          <% day = date.day%>
          <%= "#{month}/#{day}" %>
        </th>
      <% end %> 
    </tr>
  </thead>
  <tbody>
    <tr>
    <% weathercode = @weather_data["daily"]["weathercode"]%>
    <% weathercode.each do |code| %>
      <td>
      <% if code == 0 %>
        <%= image_tag "weather_icons/100.png", class: 'img-show-weather-icon' %>
      <% elsif code == 1 %>
        <%= image_tag "weather_icons/101.png", class: 'img-show-weather-icon' %>
      <% elsif code == 2 %>
        <%= image_tag "weather_icons/201.png", class: 'img-show-weather-icon' %>
      <% elsif code == 3 %>
        <%= image_tag "weather_icons/200.png", class: 'img-show-weather-icon' %>
      <% elsif 60 < code && code < 68 || 79 < code && code < 83%>
        <%= image_tag "weather_icons/300.png", class: 'img-show-weather-icon' %>
      <% elsif 50 < code && code < 56 %>
        <%= image_tag "weather_icons/202.png", class: 'img-show-weather-icon' %>
      <% elsif 70 < code && code < 78 || 85 == code || code == 86 %>
        <%= image_tag "weather_icons/400.png", class: 'img-show-weather-icon' %>
      <% elsif 94 < code %>
        <%= image_tag "weather_icons/500.png", class: 'img-show-weather-icon' %>
      <% else %>
        <%= image_tag "no-image.png", class: 'img-show-weather-icon' %>
      <% end %>
      </td>
    <% end %>
    </tr>
  </tbody>
</table>

<p>
  <strong>Comment:</strong>
  <% @comments.each do |comment|%>
    <% if comment.id.present? %>
      <p>
        <% if comment.user.image.present? %>
          <%= link_to image_tag(comment.user.image.thumb.url, class: 'img-icon-post-show'), my_page_path(comment.user) %>
        <% else %>
          <%= link_to image_tag("default.jpg", class: 'img-icon-post-show'), my_page_path(comment.user) %>
        <% end %>
        <%= comment.content %>
        <% if comment.image.present? %>
          <%= image_tag comment.image.url, class:'img-comment-show'%>
        <% end %>
        <%= link_to '削除', post_comment_path(@post, comment), method: :delete %>
      </p>
    <% end %>
  <% end %>
</p>

<% if user_signed_in? %>
  <%= form_with(model: [@post, @comment]) do |form| %>

    <div class="field">
      <%= form.label :content %>
      <%= form.text_area :content %>
    </div>
    <div class="field">
      <%= form.label :image %>
      <%= form.file_field :image %>
    </div>

    <div>
      <%= form.submit %>
    </div>
  <% end %>
<% end %>
<%= render 'hotel', hotels: @hotels %>