<% if @post.image? %>
    <% image_url = @post.image.url %>
<% else %>
    <% image_url = asset_path "no-image.png" %>
<% end %>

<div class='d-none d-lg-block'>
    <div class="post-show-background-image parallax-content fadein" style='height: 600px;'>
      <div class='posts-show-gradient'></div>
    </div>
</div>
<div class='d-lg-none'>
    <div class="post-show-background-image parallax-content fadein" style='height: 350px;'>
      <div class='posts-show-gradient'></div>
    </div>
</div>

<%= render 'posts/post_data', post: @post, favorite: @favorite %>
<%= render 'shared/moon_age'%>
<%= render 'shared/weather', weather_forecasts: @weather_forecasts %>
<%= render 'comments/comment', comments: @comments %>
<%= render 'shared/hotel', hotels: @hotels %>

<style>
  .post-show-background-image {
    background-image:  url("<%= image_url %>");
    background-size: cover;
    position: relative;
  }
</style>