<header class="masthead d-flex align-items-center"  style="background-image: url(<%= asset_path 'galaxy.jpg' %>) ">
    <div class="container px-4 px-lg-5 text-center">
        <h2 class="mb-1">Star Finder</h2>
        <%= link_to 'はじめる', posts_path, class: "mt-5 btn btn-primary btn-xl"%>
    </div>
</header>
<div class="masthead d-flex align-items-center bg-black" >
    <div class="container px-4 px-lg-5 text-center fadein">
        <h2 class="mb-1">星空を探す</h2>
        <div class="row justify-content-center mt-5">
        </div>
        <p class="mb-1">このアプリは星空観察スポットの探索を効率化します。マップ、月齢、駐車場、ホテル一覧等を一元化して表示し、観察計画の立案を容易にします。観測可能時間や天気予報、近隣の宿泊施設の情報も提供します。ユーザーは手間なく必要な情報を得られ、共有や宿泊施設の検索もシームレスに行えます。星空観察の経験や写真を投稿し、コミュニティ内で共有することも可能です。
        </p>
    </div>
</div>
<div class="masthead d-flex align-items-center bg-black" >
    <div class="container px-4 px-lg-5 text-center fadein">
    
        <h2 class="mb-1">1.星の明るさ機能</h2>
        
        <div class="row justify-content-center mt-5">
        <p><%= image_tag(asset_path("limiting_mag_icons/icon_6.png"),class: 'limiting-mag-icon') %></p>
        </div>
        <p class="mb-1 mt-5">その地点の星の明るさをアイコンで表示しています。</p>
    </div>
</div>
<div class="masthead d-flex align-items-center bg-black" >
    <div class="container  text-center fadein">
        <h2 class="mb-1">2.月齢機能</h2>
            <div class="row justify-content-center mt-5">
            <p class="mb-1"><%= @day %></p>
            <p class="mb-1">
            <% @moon_time.each do |moon| %>
                <%= moon %>
            <% end %>
            </p>
            <p class="mb-1 mt-5">
            月の出る時間と月の沈む時間をを表示します。
            </p>
            <p class="mb-1">
            月が出ていない空が暗い時間、つまり観測可能な時間をユーザーへ表示します。
            </p>
        </div>
    </div>
</div>
<div class="masthead d-flex align-items-center bg-black" >
    <div class="container px-4 px-lg-5 text-center fadein">
        <h2 class="mb-1">3.天気予報機能</h2>
        <div class="row justify-content-center mt-5">
            <p><%= image_tag asset_path "weather_icons3/#{@weather}.png" %></p>
            <p class="mb-1">今日の東京の天気</p>
            <p class="mb-1 mt-5">7日先までの天気予報を確認することができます。</p>
        </div>
    </div>
</div>
<div class="masthead d-flex align-items-center bg-black" >
    <div class="container px-4 px-lg-5 text-center fadein">
        <h2 class="mb-1">4.周辺ホテル表示機能</h2>
        <% begin %>
        <div class="row justify-content-center mt-5">
            <% @hotels.each do |hotel| %>
              <% info = hotel["hotelBasicInfo"] %>
              <div class="col-2 fadein">
                <% if info["roomImageUrl"].present? %>
                    <img src="<%= info["roomImageUrl"] %>" class='img-fluid ' alt="...">
                <% else %>
                    <img src="<%= info["hotelImageUrl"] %>" class='img-fluid ' alt="...">
                <% end %>
              </div>
            <% end %>
          <% rescue RakutenWebService::NotFound %>
            <strong> ホテルが見つかりませんでした </strong>
          <% end %>
          <p class="mb-1">東京周辺のホテル</p>
          <p class="mb-1 mt-5">スポット近くのホテル一覧を表示できます。</p>
        </div>
    </div>
</div>
<section class="callout">
    <div class="container px-4 px-lg-5 text-center">
        <h2 class="mx-auto mb-5">  
            ようこそ!
        </h2>
        <%= link_to 'StarFinderへ', posts_path, class: "btn btn-primary btn-xl"%>
    </div>
</section>